
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


    <link href="~/css/nouislider.css" rel="stylesheet" />
    <script src="~/Scripts/nouislider.js"></script>
    <link href="~/css/nouislider.min.css" rel="stylesheet" />
    <script src="~/Scripts/nouislider.min.js"></script>
    <script src="~/Scripts/wNumb.js"></script>

    <style>
        .noUi-tooltip {
            display: none;
        }

        .noUi-active .noUi-tooltip {
            display: block;
        }
    </style>
</head>
<body>
    <div id="html5" style="width:250px; margin:23px 10px 70px 10px;"> 
    </div>
    <script>

     var html5Slider = document.getElementById('html5');
       
        noUiSlider.create(html5, {
            connect: true,
            behaviour: 'tap',
            start: [2, 5],
            tooltips: [true, wNumb({ decimals: 0 })],
            range: {
                'min': [0,1],
                'max': [24]
            },
            pips: {
                mode: 'values',
                values: [0 ,6, 12 , 18 , 24],
                density: 4
            }

        });

    </script>
</body>
</html>
