@model AeroKlub.UI.Models.ReservationsListViewModel


@if (Model.reservations.Any() == true)
{
    <div style="background-color:darkkhaki;text-align:center">
        Zarezerwowane godziny:
        @foreach (var reservation in Model.reservations)
        {
            <div>
                @reservation
            </div>
        }
    </div>
}