@model AeroKlub.UI.Models.UsersList

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Usuń użytkownika</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<link href="~/Content/NavbarStyle.css" rel="stylesheet" />

	<style>
		.col-centered {
			margin: 0 auto;
			float: none;
		}
	</style>
</head>
<body>

	@Html.Action("NavigationBar", "Admin", new { Name = Model.Name, Nickname = Model.NickName })

	<div class="container-fluid text-center">

		<h3 style="margin-bottom: 3%;">Wybierz użytkownika , którego chcesz usunąć (brak możliwości przywrócenia!): </h3>

		@if (Model.UserList.Any() == true && Model.UserList.Count() >= 1)
		{
			using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				@Html.DropDownList("Name", Model.UserList, new { @class = "form-control col-centered", @style = "width:300px" });
				@Html.TextArea("AdminName", Model.Name, new { @readonly = true, style = "display:none" })
				@Html.TextArea("AdminNickname", Model.NickName, new { @readonly = true, style = "display:none" })
				<div style="padding-top:3%">
					<input type="submit" value="Usuń użytkownika" class="btn btn-danger" />
				</div>
			}
		}
		else
		{
			<p>Brak użytkowników do usunięcia!</p>
		}
	</div>
</body>
</html>
