<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu sieci Web. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/482f411a-2bd9-45ec-99e1-641860b79586/resourcegroups/AeroKlubUI20180709095727ResourceGroup/providers/Microsoft.Web/sites/AeroKlub</ResourceId>
    <ResourceGroup>AeroKlubUI20180709095727ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aeroklub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>aeroklub.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AeroKlub</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AeroKlub</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EFDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:aeroklubsqldatabase.database.windows.net,1433;Initial Catalog=AeroKlubDatabase;Persist Security Info=False;User ID=michal2010;Password=&quot;Michal 2000&quot;;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:aeroklubsqldatabase.database.windows.net,1433;Initial Catalog=AeroKlubDatabase;Persist Security Info=False;User ID=michal2010;Password=&quot;Michal 2000&quot;;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AreoKlub.Domain.Concrate.EFDbContext, AreoKlub.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:aeroklubsqldatabase.database.windows.net,1433;Initial Catalog=AeroKlubDatabase;Persist Security Info=False;User ID=michal2010;Password="Michal 2000";MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>